* { 
    margin:0;
    padding:0;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to left, #FFC0CB, #FFE4E1)
}


/* Header */

.navlista{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.titulo { 
    text-align: center;
    font-size: 30px;
    background-image: linear-gradient(to left, #FFC0CB, #FFE4E1)
}

/* Header */


/* Index */

.contenedor{ 
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: stretch;
}

.contenedor img {
    width: 400px;
    height: 250px;
}

.galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin-top: 30px;
}

.galeria .imagen {
    height: 100px;
    overflow: hidden;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    
}
.galeria .imagen:hover {
    transform: scale(1.1);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);

}
.galeria .imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.galeria2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin-top: 30px;
}

.galeria2 .imagen {
    height: 100px;
    overflow: hidden;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    
}
.galeria2 .imagen:hover {
    transform: scale(1.1);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);

}
.galeria2 .imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contenedor2 img {
    width: 400px;
    height: 250px;
}

ol {
    flex-grow: 1;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

ol li {
    font-size: 20px;
    margin-bottom: 60px;
    transition: transform 0.3s ease-in-out;
}

ol li:hover {
    transform: rotate(-3deg);
}

/* Index */


/* QueHacer (1) */
.lista-lorem {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  /* Estilos para cada elemento de la lista */
  .lista-lorem li {
    background-color: plum;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease-out;
  }
  
  .bloque {
    padding: 20px;
  }
  
  .bloque h2 {
    font-size: 24px;
    margin-top: 0;
  }
  
  .bloque p {
    font-size: 16px;
    line-height: 1.5;
  }
  
  /*Animación*/
  .lista-lorem li:hover {
    transform: translateY(-10px);
  }


/* QueHacer (1) */


/* CulturaLenguaje (2) */

.japones {
    border: 2px solid black;
    background-color: blanchedalmond;
    width: 300px;
    margin-top: -290px;
    margin-left:1021px;

}

/* CulturaLenguaje (2) */


/* Gastronomia (3) */

.sushi{
    margin-top: 15px;
    margin-left: 100px;
}

.sushi2 {
    margin-left: 100px;
}

.textosushi {
    margin-left: 700px;
    margin-top: -300px;
    width: 400px;
}

/* Gastronomia (3) */


/* Mapas (4) */

.mapas{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


/* Mapas (4) */


/* Footer */

.footer{
margin-top: auto;
padding: 1em 0;
text-align: center;
background-image: linear-gradient(to left, #FFC0CB, #FFE4E1)
}

/* Footer */


@media screen and (max-width: 576px) {
    /*INDEX*/
    .contenedor {
    flex-direction: column;
    align-items: center;
    }
    
    .contenedor img {
    width: 10%;
    height: auto;
    }
    
    .contenedor ul {
    width: 100%;
    }
    
    .contenedor li {
    margin: 10px;
    }
    .contenedor2{
        display: none;
    }
    .titulo{
    font-size: 20px;
    }   
    .navlista{
    margin-top: 50px;
}
.footer {
    margin-top: auto;
    



}

.navlista{ 
    margin-top: 10px;
}
/*INDEX/


    /*GASTRONOMIA*/
    .sushi2 img{
        display: none;
    }
    
    .sushi img{
    max-width: 80%;
    height:auto;
    
    }
    .textosushi{
        padding: 0%;
        text-align: center;
        margin-left: 15%;
        margin-top: 10%;
    }
}
