.culturalengua {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
    margin: 2em auto;
    max-width: 800px;
}

.cuadro {
    background-image: linear-gradient(to left, #F5A9BC, #F9D0E3);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    padding: 2em;
    transition: all 0.3s ease;
}

.cuadro:hover {
    transform: scale(1.05);
}
.image-container {
    display: flex;
    justify-content: center;
}

.image-container img {
    max-width: 40%;
    height: auto;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}

.image-container img:hover {
    transform: scale(1.1);
}