.culturalengua {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
    margin: 2em auto;
    max-width: 800px;
}

.cuadro {
    background-image: $colorcuadro;
    border-radius: 10px;
    box-shadow: 0px 0px 10px $shades;
    padding: 2em;
    transition: all 0.3s ease;
}

.cuadro:hover {
    transform: scale(1.05);
}
.image-container {
    display: flex;
    justify-content: center;
}

.image-container img {
    max-width: 40%;
    height: auto;
    box-shadow: 0px 2px 5px $shades;
    transition: all 0.3s ease;
    @include responsive (){
            max-width: 60%;
    }
}

.image-container img:hover {
    transform: scale(1.1);
}