.lista-lorem {
    list-style: none;
    margin: 0;
    padding: 0;
}


.lista-lorem li {
    background-color: plum;
    border-radius: 10px;
    box-shadow: 0 5px 10px $shades;
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease-out;
}

.bloque {
    padding: 20px;
}

.bloque h2 {
    font-size: map-get($map:$tamanios, $key:large);
    margin-top: 0;


.bloque p {
    font-size: map-get($map:$tamanios, $key:small);
    line-height: 1.5;
}
}

.lista-lorem li:hover {
    transform: translateY(-10px);
}